#chat.page .messages {
    position: absolute;
    top: 0;
    bottom: 43px;
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#chat.page .chat-area {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: whitesmoke;
    border-top: 1px solid gainsboro;
}

#chat.page .message {
    position: relative;
    background: gainsboro;
    font-size: 14px;
    padding: 10px;
    display: inline-block;
    margin: 10px 60px 10px 10px;
    word-break: break-all;
    text-align: left;
}

#chat.page .message .time {
    position: absolute;
    color: gainsboro;
    right: 0;
    transform: translateX(calc(100% + 3px));
}

#chat.page .message-wrapper.my {
    text-align: right;
}

#chat.page .message-wrapper.my .time{
    right: initial;
    left: 0;
    transform: translateX(calc(-100% - 3px));
}

#chat.page .message-wrapper.my .message {
    background: dodgerblue;
    color: white;
    margin: 10px 10px 10px 60px;
}

#chat.page .message .from {
    font-weight: bold;
    margin-bottom: 3px;
}

#chat.page .message-wrapper.my .from {
    display: none;
}

#chat.page textarea {
    font-size: 14px;
    border-radius: 0;
    width: calc(100% - 67px);
    font-family: arial;
    resize: none;
    vertical-align: middle;
    border: 1px solid gainsboro;
    padding: 5px;
    margin: 7px 0 7px 7px;
    -webkit-appearance: none;
}

#chat.page .send-chat-btn {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 60px;
}