body {

}

body * {
	box-sizing: border-box;
}

.slider {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 800px;
    height: 450px;
    margin: 0 auto;
    overflow: hidden;
}

.slider .slide {
	font-size: 64px;
	position: absolute;
	width: 100%;
    height: 100%;
    border: 1px solid black;
    transform: translate3d(0,0,0);
    transition: transform .3s ease;
}

.slider .slide.past {
	transform: translate3d(-100%,0,0);
}

.slider .slide.future {
	transform: translate3d(100%,0,0);
}

.btn {
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
	border: 15px solid transparent;
	-webkit-user-select: none;
}

.btn.prev {
	border-right-color: gainsboro;
}

.btn.next {
	border-left-color: gainsboro;
}