#events.page input {
    padding: 0 5px;
    width: 100%;
    margin: 0;
    border: 1px solid gainsboro;
    border-radius: 0;
    box-sizing: border-box;
    display: block;
    line-height: 28px;
    -webkit-appearance: none;
}

#events.page .search-wrapper {
    position: relative;
    background: whitesmoke;
    padding: 5px;
}

#events.page .event {
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid gainsboro;
}

#events.page .event:active {
    background: rgba(0,0,0, .1);
}

#events.page .event .name {
    font-size: 18px;
}

#events.page .events-list {
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 40px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}