#login {
    background: lightslategray;
    text-align: center;
}

#login .vertical-aligner {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

#login .form-wrapper {
    display: inline-block;
    vertical-align: middle;
    background: white;
    margin: 0 auto;
    width: 275px;
    padding: 10px;
}

#login .form-wrapper * {
    font-size: 14px;
}

#login .form-wrapper input.failed {
    color: tomato;
    border-bottom-color: tomato;
}